<div [hidden]= "cpntData.lang?.isCurrentLoading || !(cpntData.lang?.isLearningLoading)" class="loading"></div>
<app-submenu></app-submenu>
<div class="row">
	<div class="col">
		<div class="mx0 pxtb5" [hidden]="cpntData.winItemIdx === null">
			<span [ngClass]="{'font-lao': cpntData.lang?.currentLang === 'lo'}">{{ 'gameboard.findTranslation' | translate }}:</span>
			<span class="text-big" *ngIf="cpntData.items[cpntData.winItemIdx]"
				[ngClass]="{ 'font-lao': isLaoLanguage }">
				{{ cpntData.items[cpntData.winItemIdx][cpntData.theme.isReversed ? cpntData.lang.learningLang : cpntData.lang.currentLang].wrd }}
			</span>
			<ng-template [ngIf]="cpntData.theme?.isReversed &&
				cpntData.theme.displayKaraoke &&
				!cpntData.theme.learning?.noKaraoke &&
				cpntData.items[cpntData.winItemIdx] &&
				cpntData.items[cpntData.winItemIdx][cpntData.lang.learningLang].kk[cpntData.lang.currentLang]">
				<em class="text-primary" [ngClass]="{'font-lao': !isLaoLanguage}">({{ cpntData.items[cpntData.winItemIdx][cpntData.lang.learningLang].kk[cpntData.lang.currentLang] }})</em>
			</ng-template>
			<em *ngIf="(cpntData.lang?.currentLang === 'fr' || cpntData.lang?.currentLang === 'en') &&
			!cpntData.theme.isReversed && cpntData.items[cpntData.winItemIdx] &&
			cpntData.items[cpntData.winItemIdx][cpntData.lang.currentLang].meta?.tone">
				({{ cpntData.items[cpntData.winItemIdx][cpntData.lang.currentLang].meta?.tone }})
			</em>
		</div>
	</div>
</div>
<div class="row game-buttons-container">
	<div *ngFor="let item of cpntData.items; let i = index;" class="col-6 col-md-3">
		<div class="pxtb5 h-100" >
			<button class="btn btn-lg btn-block no-transition h-100" (click)="checkAnswer(i)"
			[disabled]="cpntData.clickedIdx !== null && (cpntData.clickedIdx !== i)"
			[ngClass]="{
				'btn-light': cpntData.clickedIdx === null || (cpntData.clickedIdx === -1),
				'btn-success': i === cpntData.winItemIdx && cpntData.isCheckingAnswer,
				'btn-danger': i === cpntData.clickedIdx && cpntData.clickedIdx !== cpntData.winItemIdx,
				'disabled': cpntData.clickedIdx !== null && (cpntData.clickedIdx !== i)
			}">
				<span [ngClass]="{'font-lao': !isLaoLanguage }">{{ item[cpntData.theme.isReversed ? cpntData.lang.currentLang : cpntData.lang.learningLang].wrd }}</span>
				<em *ngIf="(cpntData.lang?.currentLang === 'fr' || cpntData.lang?.currentLang === 'en') &&
					cpntData.theme.isReversed &&
					item[cpntData.lang.currentLang].meta?.tone">
					({{ item[cpntData.lang.currentLang].meta?.tone }})
				</em>
				<ng-template [ngIf]="cpntData.theme.displayKaraoke && !cpntData.theme.learning.noKaraoke && item[cpntData.lang.learningLang].kk && !cpntData.theme.isReversed">
					<br />
					<em [ngClass]="{
						'text-primary': cpntData.clickedIdx === null || (cpntData.clickedIdx === -1),
						'text-dark': cpntData.clickedIdx > 0,
						'font-lao': isLaoLanguage
					}">
						{{ item[cpntData.lang.learningLang].kk[cpntData.lang.currentLang] }}
					</em>
				</ng-template>
			</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="progress">
			<div class="progress-bar no-transition" role="progressbar"
			aria-valuenow="cpntData.currentQuestionTimer" aria-valuemin="0" aria-valuemax="100"
			[style.width]="cpntData.currentQuestionTimer + '%'"></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div [hidden]="cpntData.clickedIdx === null"
			[ngClass]="{'font-lao': cpntData.lang?.currentLang === 'lo'}">
			<div *ngIf="cpntData.clickedIdx === cpntData.winItemIdx; else elseBlock">
				{{ 'gameboard.correctAnswer' | translate }}
			</div>
			<ng-template #elseBlock>
				<div>
					{{ 'gameboard.wrongAnswer' | translate }}
				</div>
			</ng-template>
			<button (click)="nextQuestion()" type="button" class="btn btn-primary">
				{{ 'gameboard.next' | translate }}
			</button>
		</div>
	</div>
</div>
