<div class="row">
	<div class="col-xs-12">
		<div class="btn-toolbar">
			<div class="btn-group">
				<button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
					{{ 'gameboard.learn' | translate }} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li *ngFor="let lang of cpntData.availableLang"
						[ngClass]="{'active': lang.code  === cpntData.lang.learningLang}">
						<a (click)="changeLearningLang(lang.code)">{{ lang.label }}</a>
					</li>
				</ul>
			</div>
			<div class="btn-group">
				<button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
					Theme <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li *ngFor="let theme of cpntData.availableTheme"
						[ngClass]="{'active': theme.code  === cpntData.theme.learningTheme}">
						<a (click)="changeLearningTheme(theme.code)">{{ theme.trad | translate }}</a>
					</li>
				</ul>
			</div>
			<div class="btn-group" *ngIf="cpntData.lang.learningLang === 'lo'">
				<label class="checkbox-inline text-small"><input type="checkbox" value="" [checked]="cpntData.theme.karaoke" (change)="cpntData.theme.karaoke = !cpntData.theme.karaoke">{{ 'gameboard.karaoke' | translate }}</label>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h3 [hidden]="cpntData.winItemIdx === null">
			{{ 'gameboard.findTranslation' | translate }}
			<strong>{{ cpntData.items[cpntData.winItemIdx] ? cpntData.items[cpntData.winItemIdx][cpntData.lang.currentLang] : null}}</strong>
		</h3>
	</div>
</div>
<div class="row game-buttons-container">
	<div *ngFor="let item of cpntData.items; let i = index;" class="col-xs-6 col-md-3">
		<div class="px5tb">
			<button (click)="checkAnswer(i)" type="button"
			[disabled]="cpntData.clickedIdx !== null && (cpntData.clickedIdx !== i)" class="btn btn-lg btn-block"
			[ngClass]="{
			'btn-default': cpntData.clickedIdx === null,
			'disabled': cpntData.clickedIdx !== null && (cpntData.clickedIdx !== i),
			'btn-success':i === cpntData.clickedIdx && cpntData.clickedIdx === cpntData.winItemIdx,
			'btn-danger': i === cpntData.clickedIdx && cpntData.clickedIdx !== cpntData.winItemIdx}" >
				{{ item[cpntData.lang.learningLang] }}
				<ng-template [ngIf]="cpntData.theme.karaoke && (cpntData.lang.learningLang === 'lo')">
					<br />
					<em>{{ item.kk }}</em>
				</ng-template>
			</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="progress">
			<div class="progress-bar no-transition" role="progressbar"
			aria-valuenow="cpntData.currentQuestionTimer" aria-valuemin="0" aria-valuemax="100"
			[style.width]="cpntData.currentQuestionTimer + '%'">
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div [hidden]="cpntData.clickedIdx === null">
			<h4 *ngIf="cpntData.clickedIdx === cpntData.winItemIdx; else elseBlock">
				{{ 'gameboard.correctAnswer' | translate }} <strong>{{ cpntData.items[cpntData.winItemIdx] ? cpntData.items[cpntData.winItemIdx][cpntData.lang.learningLang] : null }}</strong>
			</h4>
			<ng-template #elseBlock>
				<h4>
					{{ 'gameboard.wrongAnswer' | translate }} <strong>{{ cpntData.items[cpntData.winItemIdx] ? cpntData.items[cpntData.winItemIdx][cpntData.lang.learningLang] : null }}</strong>
				</h4>
			</ng-template>
			<button (click)="nextQuestion()" type="button" class="btn btn-primary">Suivant</button>
		</div>
	</div>
</div>
