<h2>{{ 'about.presLaololTitle' | translate }}</h2>
<div class="row">
	<div class="col-xs-12 text-justify">
    <p>{{ 'about.presLaolol1' | translate }}</p>
    <p>{{ 'about.presLaolol2' | translate }} <b>{{ 'about.presLaolol3' | translate }}</b> {{ 'about.presLaolol4' | translate }}<br />
    {{ 'about.presLaolol5' | translate }} <b>1000€</b>, {{ 'about.presLaolol6' | translate }}</p>
    <p>{{ 'about.presLaolol7' | translate }} <b>{{ 'about.presLaolol8' | translate }}</b> {{ 'about.presLaolol9' | translate }} <a routerLink="/home">laolol.com</a>...</p>
	</div>
</div>
<hr />
<h2>{{ 'about.presPeopleTitle' | translate }}</h2>
<div class="row">
  <div class="col-xs-3 col-sm-2 col-lg-1">
  	<img class="img-responsive img-thumbnail" src="/assets/img/pictures/loic_truchot-angular-vientiane.jpg" />
  </div>
  <div class="col-xs-9 col-sm-10 col-lg-11 text-justify">
  	<b>{{ 'layout.nameLoic' | translate }}</b> {{ 'about.presLoic1' | translate }}.
  	{{ 'about.presLoic2' | translate }} <a routerLink="/home">{{ 'layout.lao' | translate}}<span class="title-complement">{{ 'layout.lol' | translate}}</span></a>.<br />
  	{{ 'about.presLoic3' | translate }} JavaScript/HTML/CSS, <a href="https://angular.io/" target="_blank">Angular 4</a>, <a href="http://getbootstrap.com/" target="_blank">Bootstrap 3</a>, {{ 'words.or' | translate }} <a href="https://nodejs.org" target="_blank">Node.js</a>.
		{{ 'about.presLoic4' | translate }} <a href="https://github.com/n-a-n/ngx-laolol" target="_blank">ngx-laolol</a>.
  </div>
</div>
<br />
<div class="row">
  <div class="col-xs-9 col-sm-10 col-lg-11 text-justify">
	  <b>{{ 'layout.nameSoulisack' | translate }}</b> {{ 'about.presSoulisack1' | translate }}.
	  {{ 'about.presSoulisack2' | translate }}.<br />
	  {{ 'about.presSoulisack3' | translate }}.<br />
  </div>
  <div class="col-xs-3 col-sm-2 col-lg-1">
  	<img class="img-responsive img-thumbnail" src="/assets/img/pictures/photo-placeholder.png" />
  </div>
</div>
<hr />