.app-container {
  @include media-breakpoint-down(sm) {
    padding-right: 10px;
    padding-left: 10px;
  }
  @include media-breakpoint-down(xs) {
    padding-right: 5px;
    padding-left: 5px;
  }
  .main-title {
    margin: 0;
    padding-bottom: 8px;
    position: relative;
    a, img {
      display: block;
    }
    .version-title {
      display: block;
      position: absolute;
      bottom:2px;
      left: 5px;
    }
  }
  .main-menu {
    @include media-breakpoint-up(sm) {
      .nav-link {
        padding: .6rem .8rem;
      }
    }
  }
  .main-content {
    padding-top: 10px;
  }
  .main-submenu {
    .btn-group:first-child {
      padding-left: 0;
    }
  }
}


.avaiblable-lang-list {
  padding-right:25px;
  .button-flag {
    padding:0 5px;
    .flag {
      display: block;
    }
  }
  .lang-block-container {
    @include clearfix;
    padding:2px 0;
    float: left;
    &:first-child {
      margin-right: 30px;
    }
    @include media-breakpoint-down(sm) {
      margin-left:0;
      float: none;
      width:100%;
      padding:0;
      .lang-block-content {
        float: right;
      }
    }
    .ddl-lang {
      padding-top: 8px;
      @include media-breakpoint-down(sm) {
        padding-top: 0px;
      }
      @include media-breakpoint-down(xs) {
        font-size:0.75rem;
        .btn {
          font-size: 0.75rem;
        }
      }
    }

    .list-inline {
      margin-bottom: 0;
      .list-inline-item {
        padding: 0 !important;
      }
    }
    .avaiblable-lang {
        padding: 0 5px 1px;
        box-sizing: border-box;
      &.chosen-lang {
        background-color: #f5deb3;
        border-radius: 5px;
        .flag {
          display: block;
        }
      }
    }
  }
  .dropdown-menu {
    min-width: 70px;
    a {
      text-align: center;
      display:block;
      padding:0;
      .flag {
        display: block;
        margin: auto;
      }
    }
  }
}
.clickable-icons {
  border: none;
  text-decoration: none;
  display: block;
  position:absolute;
  max-width: 16px;
  top:2px;
  right:15px;
  font-size: 0.9em;
  cursor: pointer;
  a {
    display: block;
    margin-bottom: 8px;
    img {
      display: block;
      width: 100%;
    }
  }
}