.main-title {
	position: relative;
	.version-title {
		display: block;
		position: absolute;
		font-size: .3em;
		bottom:-28px;
		left: 5px;
	}
}
.title-complement {
	color: #8A6D8B;
	font-size: .8em;
	font-weight: bold;
}
.avaiblable-lang-list {
	font-size: 0.8em;
	li {
		padding: 0 !important;
	}
	.avaiblable-lang {
			padding: 0 5px 1px;
			box-sizing: border-box;
		&.chosen-lang {
			background-color: #f5deb3;
			border-radius: 5px;
			.flag {
				display: block;
			}
		}
	}
}
.clickable-icon {
	position:absolute;
	top:8px;
	right:12px;
	font-size: 0.9em;
	cursor: pointer;
}