@font-face {
	font-family: 'Phetsarath_OT';
	src: url('/assets/fonts/phetsarath_ot.eot');
	src: url('/assets/fonts/phetsarath_ot.eot?#iefix') format('embedded-opentype'),
	url('/assets/fonts/phetsarath_ot.woff2') format('woff2'),
	url('/assets/fonts/phetsarath_ot.woff') format('woff'),
	url('/assets/fonts/phetsarath_ot.ttf') format('truetype'),
	url('/assets/fonts/phetsarath_ot.svg#Phetsarath_OT') format('svg');
	font-weight: normal;
	font-style: normal;
}
