html {
  position: relative;
  min-height: 100%;
  font-size: 16px;
  -webkit-writing-mode: horizontal-tb;
}
body {
	margin-bottom: 30px;
	font-family: Arial, Helvetica, sans-serif;
	h2 {
		font-size: 1.4rem;
	}
	footer {
		height:30px;
		font-style: italic;
		position: absolute;
	  bottom: 0;
	  width: 100%;
		img {
			width: 30px;
			margin-top:-3px;
		}
	}
}
a, a:hover, a:active, a:focus , input::-moz-focus-inner {
  outline: 0;
}
