html {
  position: relative;
  min-height: 100%;
  font-size: 12px;
  -webkit-writing-mode: horizontal-tb;
}
body {
	margin-bottom: 60px;
	font-family:Phetsarath_OT;
	h1, h2, h3, h4 {
		line-height: 1.50em;
	}
}
footer {
	font-style: italic;
	position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
	img {
		width: 30px;
		margin-top:-3px;
	}
}
