<app-submenu></app-submenu>
<div class="row">
	<div class="col">
		<h2 class="text-center backboard-title" [ngClass]="{'font-lao': !langData.isCurrentLangLao}"
			*ngIf="themeData?.learning && langData?.learningLang">
			{{
				(themeData.learning.displayPlural ?
				themeData.learning.link[langData.learningLang].tongue.plural :
				themeData.learning.link[langData.learningLang].wrd)  | capitalize
			}}
			<ng-template [ngIf]="themeData.displayKaraoke &&
				themeData.learning.link[langData.learningLang].kk &&
				themeData.learning.link[langData.learningLang].kk[langData.currentLang]">
				<em class="text-primary" [ngClass]="{'font-lao': langData.isCurrentLangLao}" innerHTML="{{ themeData.learning.link[langData.learningLang].kk[langData.currentLang] | unbreakable }}"></em>
			</ng-template>

			<em [ngClass]="{'font-lao': langData.isCurrentLangLao}">
				({{
					(themeData.learning.displayPlural ?
					themeData.learning.link[langData.currentLang].tongue.plural :
					themeData.learning.link[langData.currentLang].wrd)  | capitalize
				}})
			</em>
		</h2>
	</div>
</div>
<div class="blackboard-items" *ngIf="themeData.items.length">
	<div class="row">
		<div class="col-6 col-sm-4 col-md-3 mxtb5" *ngFor="let item of cpntData.items; let i = index;">
			<div class="card h-100">
			  <div class="card-header pos-r">
			    <ng-template [ngIf]="langData?.learningLang === 'fr'">
					  <span *ngIf="(!themeData?.learning?.noArticle) &&
					  	item.fr.meta && item.fr.meta.isMale !== undefined">
					  	{{ item.fr.meta.isMale ? 'un' : 'une' }}
					  </span>
					  {{ item.fr.wrd }}
					</ng-template>
					<ng-template [ngIf]="langData?.learningLang === 'en'">
						<span *ngIf="!themeData?.learning?.noArticle">
					  	{{ cpntData.vowels.en.test(item.en.wrd[0]) ? "an" : "a" }}
					  </span>
					  {{ item.en.wrd }}
					</ng-template>
					<ng-template [ngIf]="langData?.learningLang === 'lo'">
						<span class="font-lao">{{ item.lo.wrd }}</span>
					</ng-template>
					<ng-template [ngIf]="themeData.displayKaraoke && langData?.learningLang &&
						!themeData.learning.noKaraoke &&
						item[langData.learningLang].kk &&
						item[langData.learningLang].kk[langData.currentLang]">
						<br />
						<em class="text-medium text-primary" [ngClass]="{'font-lao': langData.isCurrentLangLao}" innerHTML="{{ item[langData.learningLang].kk[langData.currentLang] | unbreakable }}"></em>
					</ng-template>
					<label class="pos-top-right p5" *ngIf="item[langData.learningLang].audioLoaded"
					title="{{ 'blackboard.listen' | translate }}" (click)="playsound(i)">
						<span class="text-medium icon-volume-low"></span>
					</label>
			  </div>
			  <div class="card-img-top pos-r" *ngIf="themeData?.learning?.hasImages">
			  	<img *ngIf="!item.img" src="/assets/img/questionmark.jpg" />
					<img *ngIf="item.img" [src]="'/assets/medias/' + item.img" />
					<div *ngIf="themeData.learning.hasSpecialExample" class="text-muted pos-top-left">
						{{ item.lo.ex }}
					</div>
				</div>
			  <div class="card-body">
			    <h3 class="card-title" [ngClass]="{'font-lao': langData.isCurrentLangLao}">{{ item[langData.currentLang].wrd }}</h3>
			    <p class="card-text" *ngIf="langData && (langData.learningLang === 'fr') && item.fr.meta && (item.fr.meta.isMale !== undefined)">
						<strong>
							{{ cpntData.vowels.fr.test(item.fr.wrd[0]) ? "l'" : (item.fr.meta.isMale ? "le " : "la ") }}{{ item.fr.wrd }}
						</strong>
						 <em  [ngClass]="{'font-lao': langData.isCurrentLangLao}">({{ item.fr.meta.isMale ? ('blackboard.masculine' | translate) : ('blackboard.feminine' | translate) }})</em>
					</p>
					<div class="collapse" [ngClass]="{
						'hide': !themeData?.isMoreInfos,
						'show': themeData?.isMoreInfos
					}">
						<hr *ngIf="(!themeData.learning.noPlural && langData &&
							(langData.learningLang === 'fr' || langData.learningLang === 'en')) ||
							(item[langData.currentLang].meta && item[langData.currentLang].meta.comment) ||
							langData.currentLang === 'lo'" />
						<p class="card-text" *ngIf="!themeData.learning.noPlural && !langData?.learningLangInfos?.noPlural">
							<strong *ngIf="langData.learningLang === 'fr'">les</strong>
							<strong>{{ item[langData.learningLang].tongue.plural }}</strong>
						</p>
						<p class="card-text"
							*ngIf="item[langData.currentLang].meta && item[langData.currentLang].meta.comment">
							<em>{{ item[langData.currentLang].meta.comment }}</em>
						</p>
				    <p class="card-text" *ngIf="langData?.currentLang === 'lo'">
							<span class="text-uppercase">{{ item[langData.learningLang].wrd }}</span>
						</p>
					</div>
			  </div>
			</div>
		</div>
	</div>
</div>