<app-submenu></app-submenu>
<!-- begin section title -->
<div class="row">
	<div class="col">
		<h2 class="text-center backboard-title" [ngClass]="{'font-lao': !langData.isCurrentLangLao}"
			*ngIf="themeData?.learning && langData.learning.code">
			<ng-template [ngIf]="!isHidingLao">
				{{
					(themeData.learning.displayPlural ?
					themeData.learning.link[langData.learning.code].tongue.plural :
					themeData.learning.link[langData.learning.code].wrd)  | capitalize
				}}
			</ng-template>
			<ng-template [ngIf]="themeData.displayKaraoke &&
				themeData.learning.link[langData.learning.code].kk &&
				themeData.learning.link[langData.learning.code].kk[langData.current.code]">
				<em class="text-primary" [ngClass]="{'font-lao': langData.isCurrentLangLao}" innerHTML="{{ themeData.learning.link[langData.learning.code].kk[langData.current.code] | unbreakable }}"></em>
			</ng-template>
			<em [ngClass]="{'font-lao': langData.isCurrentLangLao}">
				({{
					(themeData.learning.displayPlural ?
					themeData.learning.link[langData.current.code].tongue.plural :
					themeData.learning.link[langData.current.code].wrd)  | capitalize
				}})
			</em>
		</h2>
	</div>
</div>
<!-- end section title -->
<!-- begin section level description -->
<div class="row" *ngIf="themeData.learning && langData.current?.code && themeData.learning[langData.current.code] &&  themeData.learning[langData.current.code].desc?.length">
	<div class="col-12" [ngClass]="{'font-lao': langData.isCurrentLangLao}">
		<p>
			<em>{{ themeData.learning[langData.current.code].desc[themeData.learningLevel] }}</em>
		</p>
	</div>
</div>
<!-- end section level description -->
<!-- begin section items -->
<div class="blackboard-items" *ngIf="themeData.items.length">
	<div class="row">
		<div class="col-6 col-sm-4 col-md-3 mxtb5" *ngFor="let item of cpntData.items; let i = index;">
			<div class="card h-100">
				<div class="vertical-text" *ngIf="themeData.learning?.uid === 'participants'">
					{{ 'blackboard.offeredBy' | translate | capitalize }} {{ item.meta.owner }}</div>
			  <div class="card-header pos-r">
			    <!-- begin header learning word -->
			    <ng-template [ngIf]="langData.learning.code === 'fr'">
					  <span *ngIf="(!themeData?.learning?.noArticle) &&
					  	item.fr.meta && item.fr.meta.isMale !== undefined">
					  	{{ item.fr.meta.isMale ? 'un' : 'une' }}
					  </span>
					  {{ item.fr.wrd }}
					</ng-template>
					<ng-template [ngIf]="langData.learning.code === 'en'">
						<span *ngIf="!themeData?.learning?.noArticle">
					  	{{ cpntData.vowels.en.test(item.en.wrd[0]) ? "an" : "a" }}
					  </span>
					  {{ item.en.wrd }}
					</ng-template>
					<ng-template [ngIf]="langData.learning.code === 'lo' && !isHidingLao">
						<span class="font-lao">{{ item.lo.wrd }}</span>
					</ng-template>
					<!-- end header learning word -->
					<!-- begin header karaoke word -->
					<ng-template [ngIf]="themeData.displayKaraoke && langData.learning.code &&
						!themeData.learning.noKaraoke &&
						item[langData.learning.code].kk &&
						item[langData.learning.code].kk[langData.current.code]">
						<br *ngIf="!isHidingLao" />
						<em class="text-primary" [ngClass]="{
							'font-lao': langData.isCurrentLangLao,
							'text-big': isHidingLao,
							'text-medium': !isHidingLao
						}" innerHTML="{{ item[langData.learning.code].kk[langData.current.code] | unbreakable }}"></em>
					</ng-template>
					<!-- begin header karaoke word -->
					<label class="pos-top-right p5" *ngIf="item[langData.learning.code].audioLoaded"
					title="{{ 'blackboard.listen' | translate }}" (click)="playsound(i)">
						<span class="text-medium icon-volume-low"></span>
					</label>
			  </div>
			  <div class="card-img-top pos-r" *ngIf="themeData?.learning?.hasImages">
			  	<img class="mxt5" *ngIf="!item.img" src="/assets/img/questionmark.jpg" />
					<img class="mxt5" *ngIf="item.img" [src]="'/assets/medias/' + item.img" />
					<div *ngIf="themeData.learning.hasSpecialExample" class="text-muted pos-top-left" [ngClass]="{'text-bigger': themeData.learning?.uid === 'numbers'}">
						{{ item.lo.ex }}
					</div>
				</div>
			  <div class="card-body px-medium">
			    <h3 class="card-title" [ngClass]="{'font-lao': langData.isCurrentLangLao}">{{ item[langData.current.code].wrd }}</h3>
			    <p class="card-text" *ngIf="langData && (langData.learning.code === 'fr') && item.fr.meta && (item.fr.meta.isMale !== undefined)">
						<strong>
							{{ cpntData.vowels.fr.test(item.fr.wrd[0]) ? "l'" : (item.fr.meta.isMale ? "le " : "la ") }}{{ item.fr.wrd }}
						</strong>
						 <em  [ngClass]="{'font-lao': langData.isCurrentLangLao}">({{ item.fr.meta.isMale ? ('blackboard.masculine' | translate) : ('blackboard.feminine' | translate) }})</em>
					</p>
					<div class="collapse" [ngClass]="{
						'hide': !themeData?.isMoreInfos,
						'show': themeData?.isMoreInfos
					}">
						<hr *ngIf="(!themeData.learning.noPlural && langData &&
							(langData.learning.code === 'fr' || langData.learning.code === 'en')) ||
							(item[langData.current.code].meta && item[langData.current.code].meta.comment) ||
							langData.current.code === 'lo' ||
							item[langData.learning.code].kk && item[langData.learning.code].kk.ipa" />
						<p class="card-text" *ngIf="!themeData.learning.noPlural && !langData?.learning?.noPlural">
							<strong *ngIf="langData.learning.code === 'fr'">les</strong>
							<strong>{{ item[langData.learning.code].tongue.plural }}</strong>
						</p>
						<p class="card-text text-small"
							*ngIf="item[langData.current.code].meta && item[langData.current.code].meta.comment">
							<em>{{ item[langData.current.code].meta.comment }}</em>
						</p>
				    <p class="card-text" *ngIf="isCurrentLangLao">
							<span class="text-uppercase">{{ item[langData.learning.code].wrd }}</span>
						</p>
						<p class="card-text" *ngIf="item[langData.learning.code].kk && item[langData.learning.code].kk.ipa">
							<span>IPA: <em>/{{ item[langData.learning.code].kk.ipa }}/</em></span>
						</p>
					</div>
			  </div>
			</div>
		</div>
	</div>
</div>
<!-- end section items -->