<div [hidden]= "!(cpntData.lang?.isCurrentLoading) && !cpntData.loadingRoute" class="loading"></div>
<modal #loginModal>
  <modal-header>
    <h2>Login</h2>
  </modal-header>
  <modal-content>
    <div class="row">
      <form *ngIf="!(cpntData.user?.isConnected)" class="col-xs-12" name="form" (ngSubmit)="login(loginForm)" [formGroup]="loginForm">
        <div class="form-group">
          <input type="email" class="form-control input-lg" name="email" formControlName="email" placeholder="Email" required />
        </div>
        <div class="form-group">
          <input type="password" class="form-control input-lg" name="password" formControlName="password" placeholder="Password" required />
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="loginForm.invalid">Log in</button>
      </form>
      <div class="col-xs-12" *ngIf="cpntData.user?.isConnected">
        <p>Connected as <strong>{{ cpntData.user.infos.firstName }} {{ cpntData.user.infos.lastName }}</strong></p>
        <button type="submit" class="btn btn-danger btn-lg btn-block" (click)="logout()">Disconnect</button>
      </div>
    </div>
  </modal-content>
  <modal-footer>
    <button class="btn btn-default" (click)="loginModal.close()">Cancel</button>
  </modal-footer>
</modal>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1 class="main-title top0">{{ 'layout.lao' | translate}}<span class="title-complement">{{ 'layout.lol' | translate}}</span><em class="version-title">Alpha version {{ cpntData.currentVersion }}</em></h1>
    </div>
    <div class="col-xs-6">
      <nav class="avaiblable-lang-list">
        <ul class="list-inline">
          <li  *ngFor="let lang of cpntData.availableLanguages; let i = index;">
            <div class="avaiblable-lang" [ngClass]="{ 'chosen-lang': cpntData.lang.currentLang === lang.code }">
              <a (click)="changeLanguage(lang.code)" class="flag flag-{{lang.flag}}" title="{{ lang.label }}">
                <span class="sr-only">{{ lang.label }}</span>
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div (click)="loginModal.open()" class="clickable-icon" [ngClass]="{'text-success': cpntData.user.isConnected}">
        <span class="glyphicon glyphicon-user"></span>
      </div>
    </div>
  </div>
  <nav role="navigation" class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand"><em>{{ 'layout.menu' | translate }}</em></span>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" data-toggle="collapse" data-target="#bs-navbar-collapse-1.in">
            <a routerLink="/home">{{ 'layout.home' | translate }}</a>
          </li>
          <li routerLinkActive="active" data-toggle="collapse" data-target="#bs-navbar-collapse-1.in">
            <a routerLink="/gameboard">{{ 'layout.gameboard' | translate }}</a>
          </li>
          <li routerLinkActive="active" data-toggle="collapse" data-target="#bs-navbar-collapse-1.in">
            <a routerLink="/blackboard">{{ 'layout.blackboard' | translate }}</a>
          </li>
          <li routerLinkActive="active" data-toggle="collapse" data-target="#bs-navbar-collapse-1.in">
            <a routerLink="/exams">{{ 'layout.exams' | translate }}</a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <router-outlet></router-outlet>
</div>
<footer class="px10">
  <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">
    <img src="/assets/img/lisence.png" />
  </a> {{ 'layout.nameLoic' | translate }} &amp; {{ 'layout.nameSoulisack' | translate }}
</footer>
