<div [hidden]= "!cpntData.loadingRoute && !(cpntData.lang?.isCurrentLoading) && !(cpntData.theme?.isCurrentLoading)" class="loading"></div>
<!-- <modal #loginModal>
  <modal-header>
    <h2>Login</h2>
  </modal-header>
  <modal-content>
    <div class="row">
      <form *ngIf="!(cpntData.user?.isConnected)" class="col" name="form" (ngSubmit)="login(loginForm)" [formGroup]="loginForm">
        <div class="form-group">
          <input type="email" class="form-control input-lg" name="email" formControlName="email" placeholder="Email" required />
        </div>
        <div class="form-group">
          <input type="password" class="form-control input-lg" name="password" formControlName="password" placeholder="Password" required />
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="loginForm.invalid">Log in</button>
      </form>
      <div class="col" *ngIf="cpntData.user?.isConnected">
        <p>Connected as <strong>{{ cpntData.user.infos.firstName }} {{ cpntData.user.infos.lastName }}</strong></p>
        <button type="submit" class="btn btn-danger btn-lg btn-block" (click)="logout()">Disconnect</button>
      </div>
    </div>
  </modal-content>
  <modal-footer>
    <button class="btn btn-default" (click)="loginModal.close()">Cancel</button>
  </modal-footer>
</modal> -->
<div class="container app-container">
  <header>
    <div class="row">
      <div class="col-5">
        <h1 class="main-title">
          <a routerLink="/home">
            <img alt="{{ 'layout.lao' | translate}}{{ 'layout.lol' | translate}}"
              [src]="cpntData.lang.currentLang !== 'lo' ? '/assets/img/laolol-title.png' : '/assets/img/laolol-title-lao.png'" />
            <span class="sr-only">{{ 'layout.lao' | translate }}{{ 'layout.lol' | translate }}</span>
          </a>
          <em class="version-title text-smallest">{{ cpntData.currentVersion }}</em>
        </h1>
      </div>
      <div class="col-7">
        <div class="avaiblable-lang-list">
          <div class="lang-block-container">
            <div class="lang-block-content clearfix">
              <ul class="list-inline float-right">
                <li class="list-inline-item" *ngFor="let lang of cpntData.availableLanguages; let i = index;">
                  <div class="avaiblable-lang" [ngClass]="{ 'chosen-lang': cpntData.lang.currentLang === lang.code }">
                    <a (click)="changeCurrentLanguage(lang.code)" class="flag flag-{{lang.flag}}" title="{{ lang.label }}">
                      <span class="sr-only">{{ lang.label }}</span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- begin "i speak" ddl -->
<!--           <div class="lang-block-container">
            <div class="lang-block-content">
              <span class="text-small">{{ 'layout.iSpeak' | translate }}</span>
              <div class="btn-group">
                <button class="btn btn-secondary button-flag"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <span class="flag flag-{{ cpntData.lang.currentLangInfos?.flag }}"></span>
                </button>
                <button class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                  <ng-container *ngFor="let lang of cpntData.availableLanguages">
                    <a *ngIf="lang.code  !== cpntData.lang.currentLang" class="dropdown-item"
                    title="{{ lang.label }}" (click)="changeCurrentLanguage(lang.code)">
                      <span class="flag flag-{{lang.flag}}"></span>
                      <span class="sr-only">{{ lang.label }}</span>
                    </a>
                  </ng-container>
                </div>
              </div>
            </div>
          </div> -->
          <!-- end "i speak" ddl -->
          <!-- begin "i learn" ddl -->
          <div class="lang-block-container">
            <div class="lang-block-content ddl-lang" [ngClass]="{'font-lao': cpntData.lang?.currentLang === 'lo'}">
              <span>{{ 'layout.iLearn' | translate }}</span>
              <div class="btn-group">
                <button  id="btn-menu-lang" class="btn btn-secondary button-flag dropdown-toggle"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   {{ cpntData.lang.learningLangInfos?.tradLabel | translate }}
                </button>
                <div class="dropdown-menu"  aria-labelledby="btn-menu-lang">
                  <ng-container *ngFor="let lang of cpntData.availableLanguages">
                    <a *ngIf="lang.code !== cpntData.lang.currentLang && lang.code !== cpntData.lang.learningLang"
                      class="dropdown-item" (click)="changeLearningLanguage(lang.code)">
                       {{ lang.tradLabel | translate }}
                    </a>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <!-- end "i learn" ddl -->
        </div>
  <!--       <div (click)="loginModal.open()" class="clickable-icon" [ngClass]="{'text-success': cpntData.user.isConnected}">
          <span class="glyphicon glyphicon-user"></span>
        </div> -->
        <div class="clickable-icons">
          <a href="https://web.facebook.com/laolol/"><img src="/assets/img/logo-facebook.png"></a>
          <a href="https://trello.com/b/L3XSHsjL/laolol"><img src="/assets/img/logo-trello.png"></a>
        </div>
      </div>
    </div>
    <!-- begin main menu navbar -->
    <nav role="navigation" [ngClass]="{'font-lao': cpntData.lang?.currentLang === 'lo'}"
      class="main-menu navbar navbar-default navbar-toggleable-sm navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button"
        data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand hidden-sm-up"><em>{{ 'layout.menu' | translate }}</em></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" data-toggle="collapse" data-target="#navbarSupportedContent.show">
            <a class="nav-link" routerLink="/home">{{ 'layout.home' | translate }}</a>
          </li>
          <li class="nav-item" [class.active]="router.url.split('/')[1] === 'gameboard'"
            data-toggle="collapse" data-target="#navbarSupportedContent.show">
            <a class="nav-link" [routerLink]="['/gameboard/'+ cpntData.theme?.learningTheme?.uid]">
              {{ 'layout.gameboard' | translate }}
            </a>
          </li>
          <li class="nav-item" [class.active]="router.url.split('/')[1] === 'blackboard'"
            data-toggle="collapse" data-target="#navbarSupportedContent.show">
            <a class="nav-link" [routerLink]="['/blackboard/'+ cpntData.theme?.learningTheme?.uid]">
              {{ 'layout.blackboard' | translate }}
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active"
          data-toggle="collapse" data-target="#navbarSupportedContent.show">
            <a class="nav-link" routerLink="/exams">{{ 'layout.exams' | translate }}</a>
          </li>
          <li class="nav-item" routerLinkActive="active"
          data-toggle="collapse" data-target="#navbarSupportedContent.show">
            <a class="nav-link" routerLink="/about">{{ 'layout.about' | translate }}</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- end main menu navbar -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
<footer class="px5 text-small-r bg-faded">
  <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">
    <img src="/assets/img/lisence.png" />
  </a>
  {{ 'layout.nameLoic' | translate }} &amp; {{ 'layout.nameSoulisack' | translate }}.
  &copy;2017 {{ 'layout.illustrationBy' | translate }}
  <a href="https://xanharotin.wordpress.com/" target="_blank">
    {{ 'layout.nameXan' | translate }}
  </a>
</footer>
