<div [ngClass]="{'font-lao': isCurrentLangLao}">
  <div class="row">
    <div class="col text-center">
      <em>{{ 'layout.underConstruction' | translate }}</em>
    </div>
  </div>
  <div class="row mxb10" *ngFor="let theme of themeData.all">
    <div class="col-5 col-sm-4 col-md-3 pxr0">
    	<button type="button" class="btn btn-info btn-block text-medium">
      	{{
          (theme.displayPlural ?
          theme.link[langData.current.code].tongue.plural :
          theme.link[langData.current.code].wrd) | capitalize
        }}
    	</button>
    </div>
    <div class="col-7 col-sm-8 col-md-9">
   		<div class="progress progress-big">
  			<div class="progress-bar no-transition" role="progressbar"
  			 aria-valuenow="0%" aria-valuemin="0" aria-valuemax="100"
  			 [style.width]="'0%'">
          <span>0 / 20</span>
        </div>
  		</div>
  	</div>
  </div>
</div>