<div class="view-admin">
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link" [ngClass]="{'active': cpntData.tabSection === 0}"
				(click)="cpntData.tabSection = 0">Items</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [ngClass]="{'active': cpntData.tabSection === 1}"
				(click)="cpntData.tabSection = 1">Themes</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [ngClass]="{'active': cpntData.tabSection === 2}"
				(click)="cpntData.tabSection = 2">Version</a>
		</li>
	</ul>
	<div *ngIf="cpntData.tabSection === 0" class="mxtb10">
		<button type="button" class="btn btn-primary"
			(click)="createEmptyItem()"
			data-toggle="modal" data-target="#itemModal">Create new item</button>
	</div>
	<div *ngIf="cpntData.tabSection === 1" class="mxtb10">
		<button type="button" class="btn btn-warning"
			(click)="createEmptyTheme()"
			data-toggle="modal" data-target="#themeModal">Create new theme</button>
	</div>
	<div *ngIf="cpntData.tabSection === 2" class="mxtb10">
		<p>When you create/update/modify/delete any theme or item, you're the only on to see modifications. <br />
			<strong>Update the version</strong> to apply modifications for everyone.<br /> <br />
			<strong>Never use the other buttons</strong>, except in case of fresh start of Laolol</p>
		<button type="button" class="btn btn-primary" [style.marginRight]="'50px'"
			(click)="updateVersion()">Update version</button>
		<button type="button" class="btn btn-danger"
			(click)="createVersion()">Create new version</button>
		<button type="button" class="btn btn-danger"
			(click)="deleteVersion()">Delete version</button>
		<button type="button" class="btn btn-danger"
			(click)="restoreVersion()">Restore version</button>

	</div>
	<table *ngIf="cpntData.tabSection === 0" class="table table-striped table-hover table-sm">
		<thead>
			<tr>
				<th>UID</th>
				<th>{{ 'words.languageEnglish' | translate | capitalize }}</th>
				<th>{{ 'words.languageFrench' | translate | capitalize }}</th>
				<th>{{ 'words.languageLao' | translate | capitalize }}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of cpntData.items.all; let i = index;"
			[ngClass]="{'table-success': item.validated}" (click)="cpntData.items.current = item">
				<td data-toggle="modal" data-target="#itemModal">{{ item.uid }}</td>
				<td data-toggle="modal" data-target="#itemModal">{{ item.en.wrd }}</td>
				<td data-toggle="modal" data-target="#itemModal">{{ item.fr.wrd }}</td>
				<td data-toggle="modal" data-target="#itemModal"><span class="font-lao">{{ item.lo.wrd }}</span></td>
				<td>
					<button (click)="confirmDeleteItem(item._id, $event)" id="btn-menu-lang" class="btn btn-sm btn-danger"
						data-toggle="modal" data-target="#confirmModal" aria-haspopup="true" aria-expanded="false">
           delete
        	</button>
        </td>
			</tr>
		</tbody>
	</table>
	<table *ngIf="cpntData.tabSection === 1" class="table table-striped table-hover table-sm">
		<thead>
			<tr>
				<th>UID</th>
				<th>{{ 'words.languageEnglish' | translate | capitalize }}</th>
				<th>{{ 'words.languageFrench' | translate | capitalize }}</th>
				<th>{{ 'words.languageLao' | translate | capitalize }}</th>
				<th>Levels</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let theme of cpntData.themes.all;" (click)="cpntData.themes.current = theme">
				<td data-toggle="modal" data-target="#themeModal">{{ theme.uid }}</td>
				<td data-toggle="modal" data-target="#themeModal">
					{{ theme.displayPlural ? theme.link.en.tongue.plural : theme.link.en.wrd }}
				</td>
				<td data-toggle="modal" data-target="#themeModal">
					{{ theme.displayPlural ? theme.link.fr.tongue.plural : theme.link.fr.wrd }}
				</td>
				<td data-toggle="modal" data-target="#themeModal">
					<span class="font-lao">
						{{ theme.displayPlural ? theme.link.lo.tongue.plural : theme.link.lo.wrd }}
					</span>
				</td>
				<td data-toggle="modal" data-target="#themeModal">{{ theme.levels }}</td>
				<td>
					<button (click)="confirmDeleteTheme(theme._id, $event)" id="btn-menu-lang" class="btn btn-sm btn-danger"
						data-toggle="modal" data-target="#confirmModal" aria-haspopup="true" aria-expanded="false">
           delete
        	</button>
        </td>
			</tr>
		</tbody>
	</table>
</div>