.blackboard-items {
	.card {
		position: relative;
	  img {
	  	border:0;
	  	width:100%;
	  	height:auto;
	  }
	  .card-header {
	  	font-size: 1.5rem;
	  	line-height: 1.2rem;
	  }
	  h3 {
	  	font-size:1.3rem;
	  }
	  .vertical-text {
		  -webkit-transform: rotate(90deg);
		  -moz-transform: rotate(90deg);
		  -ms-transform: rotate(90deg);
		  -o-transform: rotate(90deg);
		  transform: rotate(90deg);
		  position: absolute;
		  width: 170px;
		  height:20px;
		  top:80px;
		  right:-85px;
		  font-size: 0.60rem;
		  z-index: 2;
		  text-align: left;
		  font-style: italic;
		}
	}
}
