.blackboard-items {
	.card {
	  img {
	  	border:0;
	  	width:100%;
	  	height:auto;
	  }
	  .card-header {
	  	font-size: 1.5rem;
	  	line-height: 1.1rem;
	  }
	  h3 {
	  	font-size:1.3rem;
	  }
	}
}
