<div class="modal fade" id="themeModal" tabindex="-1" role="dialog"
	aria-labelledby="themeModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="themeModalLabel">Theme</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<!-- begin form json -->
					<form class="col" name="form"
						(ngSubmit)="createThemes(jsonForm)" [formGroup]="jsonForm">
						<div class="form-group">
							<label for="json-textarea">Should be themes in JSON format <br />@see <a target="_blank" href="http://codebeautify.org/jsonviewer">jsonviewer</a></label>
							<textarea class="form-control" rows="20"
							id="json-textarea"  name="json-textarea" formControlName="jsonTextarea" required></textarea>
						</div>
						<button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="jsonForm.invalid">Create themes</button>
					</form>
					<!-- end form json -->
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>