<div class="btn-toolbar main-submenu" [ngClass]="{'font-lao': isCurrentLangLao}">
	<div class="btn-group btn-sm" role="group">
		<button *ngIf="themeData?.all?.length"
			id="btn-submenu-theme" class="btn btn-warning dropdown-toggle btn-sm"
			data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			{{
				(themeData.learning.displayPlural ?
				themeData.learning.link[langData.current?.code].tongue.plural :
				themeData.learning.link[langData.current?.code].wrd) | truncate:[7]
			}}
		</button>
		<div class="dropdown-menu" aria-labelledby="btn-submenu-theme" *ngIf="themeData?.all?.length && langData.current">
			<ng-container *ngFor="let theme of themeData.all; let i = index;">
					<a *ngIf="theme.isVisible" class="dropdown-item" [ngClass]="{'active': theme.uid  === themeData.learningUid}" [routerLink]="[cpntData.currentUrl, theme.link[langData.current.code].tongue.slug] | localize">
						{{
							theme.displayPlural ?
							theme.link[langData.current?.code].tongue.plural :
							theme.link[langData.current?.code].wrd
						}}
					</a>
					<div *ngIf="i === 3" class="dropdown-divider"></div>
			</ng-container>
		</div>
	</div>
	<div class="btn-group btn-sm px-smaller-r" role="group" *ngIf="themeData?.learning?.levels > 1">
		<button id="btn-submenu-level" class="btn btn-danger dropdown-toggle btn-sm"
			data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span *ngIf="themeData.learningLevel === themeData.levels.length - 1; else realLvl">{{ 'submenu.all' | translate }}</span>
				<ng-template #realLvl>{{ 'submenu.level' | translate }} {{ themeData.learningLevel + 1 }}</ng-template>
		</button>
		<div class="dropdown-menu px-smaller-r" aria-labelledby="btn-submenu-level">
			<ng-container *ngFor="let level of themeData.levels; let i = index;">
				<a class="dropdown-item" [ngClass]="{'active': i  === themeData.learningLevel}"
					(click)="changeLearningLevel(i)">
					<span *ngIf="i === themeData.levels.length - 1; else realLvl">{{ 'submenu.all' | translate }}</span>
					<ng-template #realLvl>{{ 'submenu.level' | translate }} {{ i + 1 }}</ng-template>
				</a>
			</ng-container>
		</div>
	</div>
	<div class="btn-group btn-sm px-smaller-r" *ngIf="!themeData?.learning?.noKaraoke">
		<button class="btn btn-light btn-sm"
			[ngClass]="{'active': themeData.displayKaraoke}"
			title="{{ 'submenu.karaoke' | translate }}" (click)="toggleKaraoke()">
			<span class="icon-spell-check"></span>
		</button>
	</div>
	<div class="btn-group btn-sm px-smaller-r" *ngIf="router.url.split('/')[2] === ('localizeRouter.gameboard' | translate)">
		<button class="btn btn-light btn-sm"
			[ngClass]="{'active': themeData?.isReversed}"
			title="{{ 'submenu.reverse' | translate }}" (click)="themeData.isReversed = !themeData.isReversed">
			<span class="icon-loop"></span>
		</button>
	</div>
	<div class="btn-group btn-sm px-smaller-r" *ngIf="isLearningLangLao">
		<button class="btn btn-light btn-sm"
			[ngClass]="{'active': !themeData.noLaoWriting}" (click)="toggleLaoWriting()">
			<span>ລາວ</span>
		</button>
	</div>
		<div class="btn-group btn-sm px-smaller-r" *ngIf="!themeData?.learning?.noMoreInfos">
		<button class="btn btn-light btn-sm"
			[ngClass]="{'active': themeData?.isMoreInfos}"
			title="{{ 'submenu.moreInfos' | translate }}" (click)="toggleMoreInfos()">
			<span [ngClass]="{
				'icon-eye-plus': !themeData?.isMoreInfos,
				'icon-eye-minus': themeData?.isMoreInfos
				}"></span>
		</button>
	</div>
</div>