<div class="view-home" [ngClass]="{'font-lao': cpntData.lang?.currentLang === 'lo'}">
	<p>
	  {{ 'home.intro1' | translate }}<br />
	  {{ 'home.intro2' | translate }}
	</p>
	<p>{{ 'home.andNow' | translate }}, {{ 'home.letsPlay' | translate }}<br/>
		{{ 'home.wantLearn' | translate }}:
			<a *ngIf="cpntData.lang?.currentLang !== 'lo'"
				[routerLink]="'/gameboard/' + cpntData.theme?.learningTheme?.uid"
				(click)="changeLearningLang('lo')">{{ 'words.languageLao' | translate }}</a>
			<ng-template [ngIf]="cpntData.lang?.currentLang === 'fr' || cpntData.lang?.currentLang === 'en'">{{ 'words.or' | translate }}</ng-template>
			<a *ngIf="cpntData.lang?.currentLang !== 'fr'"
				[routerLink]="'/gameboard/' + cpntData.theme?.learningTheme?.uid"
				(click)="changeLearningLang('fr')">{{ 'words.languageFrench' | translate }}</a><!--
		--><ng-template [ngIf]="cpntData.lang?.currentLang === 'lo'"> {{ 'words.or' | translate }} </ng-template><!--
		--><a *ngIf="cpntData.lang?.currentLang !== 'en'"
				[routerLink]="'/gameboard/' + cpntData.theme?.learningTheme?.uid"
				(click)="changeLearningLang('en')">{{ 'words.languageEnglish' | translate }}</a>.
	</p>
</div>
